/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    flex-direction: column;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #1C75BC;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #1C75BC;
    color: white;
}

/* Content Section */
.content {
    display: flex;
    flex: 1;
    flex-wrap: wrap; /* Allow wrapping of child elements */
}

.left-section {
    flex: 1 1 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mapouter {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 600px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer Section */
.footer {
    background-color: #1C75BC;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.footer-links a:hover {
    color: #1C75BC;
    background-color: white;
}

/* Table Styling */
table {
    width: 100%;
}

tr {
    margin-bottom: 10px;
    display: table-row;
}

/* Tooltip Styling */
.tooltip-container {
    height: 70px;
    width: 110px;
    border-radius: 5px;
    background-color: #fff;
    background-image: linear-gradient(
      to left bottom,
      #f2f5f8,
      #ecf1f2,
      #e7eceb,
      #e3e7e4,
      #e1e2de
    );
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: relative;
    transition: transform 0.3s ease;
}

.tooltip-container::before {
    position: absolute;
    content: "";
    top: -50%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border-radius: 5px;
    background-color: #fff;
    background-image: linear-gradient(
      to left bottom,
      #1288ff,
      #e4eaec,
      #d8dfde,
      #cdd3cf,
      #c5c7c1
    );
    width: 100%;
    height: 50%;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(-150deg) translateY(-110%);
    transition: transform 0.3s ease;
}

.tooltip-container .text {
    color: rgb(32, 30, 30);
    font-weight: bold;
    font-size: 40px;
}

.tooltip-container:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tooltip-container:hover::before {
    transform: rotateY(0);
    background-image: none;
    background-color: white;
}

.tooltip-container:hover .tooltip {
    top: -90px;
    opacity: 1;
    transition-duration: 0.3s;
}

/* Phone button styling */
.phonebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background-color: #30C04F;
}

.phonebutton:hover {
    background-color: #2bac47;
}

.icon {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Social media icons in footer */
.footer-content .social-media a {
    margin: 0 10px;
    font-size: 20px;
    color: #1C75BC;
    transition: color 0.3s;
}

.footer-content .social-media a:hover {
    color: black;
}

.footer-content .social-media a.facebook {
    color: black;
}

.footer-content .social-media a.twitter {
    color: #1DA1F2;
}

.footer-content .social-media a.instagram {
    color: #C13584;
}

.footer-content .social-media a.linkedin {
    color: white;
}

/* Section Layouts */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.section-photo,
.section-description {
    flex: 1 1 50%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #1C75BC;
}

.section-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-description h2 {
    margin-top: 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin-left: 0;
        margin-top: 10px;
    }

    .content {
        flex-direction: column;
        padding: 20px;
    }

    .left-section,
    .mapouter {
        flex: 1 1 100%;
    }

    .footer-links {
        flex-direction: column;
    }

    .footer-links li {
        margin: 10px 0;
    }

    .section-photo,
    .section-description {
        flex: 1 1 100%;
    }

    .full-width-section,
    .full2-section,
    .full3-section {
        flex-direction: column;
        padding: 30px 10px;
    }

    .text-container, .image-container {
        width: 100%;
        height: auto;
    }

    .text-container h1,
    .text-container p {
        font-size: 1.2em;
    }

    .image-container img {
        border-radius: 8px;
    }
}

/* Full width section 1 */
.full-width-section {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #e9f5ff;
    padding: 50px 20px;
}

.image-container,
.text-container {
    width: 500px;
    height: 500px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);
}

/* Text and Image content */
.text-container {
    width: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 1.4em;
    line-height: 1.6;
}
